<div class="s-layout__sidebar">
  <a class="s-sidebar__trigger" href="#0">
    <i class="fa fa-bars"></i>
  </a>



  <nav class="s-sidebar__nav">
    <ul>
      <li>
        <a href="{% url 'home' %}"><h1 id="logo" class="side-header">LOGO</h1></a>
      </li>
      <li>
        <section id='list-div' class="s-sidebar__nav-link">
          <div class="row v-tag flex-container">
            <div class="col-sm-4">
              <a id="list-tag" href="#">List</a>
            </div>
            <div class="col-sm-4">
              <a href="#">Tags</a>

            </div>
            <div class="col-sm-4">
              <a href="#">Custom</a>

            </div>
          </div>
        </section>
      </li>
      <li>
        <h4 class="side-header"> Project List
        </h4>
      </li>
      {% for project in projects%}
      <li>
        <a class="s-sidebar__nav-link project-list-link" id="{{project.id}}" onclick="loadProject(this.id)" href="#">
          <i class="fa fa-user-shield"></i>
          <em>{{ project.name }}</em>
        </a>
      </li>
      {% endfor%}

      <li>
        <a class=" s-sidebar__nav-link" href="{% url 'task_web:new-list'%}"><i
            class="fa fa-clipboard-list"></i><em>Create List +</em></a>
      </li>
      <br>
      <li>
        <h4 class="side-header"> Filters
        </h4>
      </li>
      <li>
        <a class="s-sidebar__nav-link" href="#0">
          <i class="fa fa-dot-circle"></i><em>Active Task</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" href="#0">
          <i class="fa fa-award"></i><em>Assigned Me</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" href="#0">
          <i class="fa fa-hand-holding"></i><em>Upcoming</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" href="#0">
          <i class="fa fa-calendar-day"></i><em>Overdue</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" href="#0">
          <i class="fa fa-check"></i><em>Completed</em>
        </a>
      </li>
      <li id="task-add">
        <button class="button" onclick="location.href='{% url 'task_web:new' %}'" type="button">
          Add Task +
        </button>

      </li>
  </nav>
  </ul>
</div>

{% block javascript %}
{% endblock %}